<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ebooks-all-books</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/book_styles.css">
    </head>
    <body>
        <div class="flex_container">
            <div class="book_container">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/7088/9780708899427.jpg" alt="" height="200" width="130">

                <div class="content">
                    <h2>The Nickel Boys</h2>
                    <p>This is a luxurious palace, where the candle light decor shines like the night sky. </p>
                </div>
            </div>
        </div>
        <div class="flex_container">
            <div class="book_container">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/5098/9781509874521.jpg" alt=""height="200"width="130">
                <div class="content">
                    <h2 class="fgh">Walk the Wire</h2>

                    <p>Remember his name: FBI Agent Amos Decker is back in a brand new thrilling memory man investigation from number 1 bestseller, David Baldacci.</p>
                </div>
            </div>
        </div>
    </body>
</html>

