.container {
    width: 300px;
    border: solid;
    border-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}


p {
  padding: 10px;
  display: none;
}

h1:hover + p {
  display: block;
}
.content {
     padding: 5px;
     color: #444446;

}